<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{header :: header ('Atualizar Configuracao','Define parâmetros para processamento dos arquivos csvs')} "/>

<body>
<div th:replace="~{menu :: menu_top}"></div>

<div class="container">

    <head th:replace="~{header :: titulo_pagina ('Configuração do Processamento dos CSVs')}"/>

    <form action="#" th:action="@{/configuracao}" th:object="${configuracoes}" method="POST">

        <div th:each="configuracao, itemStat : ${configuracoes}" class="form-group row">
            <div class="col m12 s12 l5 xl5">
                <label th:text="${configuracao.textoSite+' :'}" class="col-form-label col-form-label-lg tooltipped"
                       data-toggle="tooltip" data-position="rigth"
                       th:data-tooltip="${configuracao.getTextoTooltipSite()}"/>
            </div>
            <div class="col m12 s12 l7 xl7">
                <input type=text th:name="${configuracao.nome}" th:value="${configuracao.valor}"
                       class="form-control mb-3 form-control-lg"/>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <input type="submit" id="submitButton" th:value="Save" class="btn w-100">
            </div>
            <div class="col s6">
                <input type="reset" id="resetButton" name="reset" th:value="Reset" class="btn w-100" />
            </div>
            <div class="col s12">&nbsp;</div>
            <div class="col s12">&nbsp;</div>
        </div>
    </form>
</div>
<!-- Footer -->
<footer th:replace="~{menu :: menu_bottom}"/>

<!-- Include external files -->
<div th:replace="~{menu :: jss}"/>

<!-- Run JS initialize scripts -->
<script th:replace="~{icons :: tooltip_js}"/>
<div th:replace="~{menu :: menu_js}"/>
</body>
<script th:if="${!mensagem.isEmpty()}" th:inline="javascript">
    $(document).ready(function () {
        var msg = /*[[${mensagem}]]*/;
        M.toast({html: msg});
    });
</script>
</html>