<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: header ('Atualizar Configuracao')} ">
</head>
<body class="expandable-content">
<div th:replace="~{menu :: menu}"></div>
<div class="container">

    <head th:replace="~{header :: titulo_pagina ('Configuração do Processamento dos CSVs')}"/>

    <form action="#" th:action="@{/configuracao}" th:object="${configuracoes}" method="POST">

        <div th:each="configuracao, itemStat : ${configuracoes}" class="form-group row">
            <div class="col-sm-5">
                <label th:text="${configuracao.textoSite+' :'}" class="col-form-label col-form-label-lg mb-3 mr-2"
                       data-toggle="tooltip" data-placement="rigth" th:title="${configuracao.getTextoTooltipSite()}"/>
            </div>
            <div class="col-sm-7">
                <input type=text th:name="${configuracao.nome}" th:value="${configuracao.valor}"
                       class="form-control mb-3 form-control-lg"/>
            </div>
        </div>

        <div class="form-group row mt-5">
            <div class="col-sm-6">
                <input type="submit" id="submitButton" th:value="Save" class="btn btn-info w-100">
            </div>
            <div class="col-sm-6">
                <input type="reset" id="resetButton" name="reset" th:value="Reset" class="btn btn-info w-100"/>
            </div>
        </div>
    </form>
    <hr>
</div>
<div th:replace="~{menu_botton :: menu}"></div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>