<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{header :: header ('Inserir Filtro', 'Lista os filtros já cadastrados e mostra o seu estado atual')}"/>
<head>
    <!-- meta http-equiv="refresh" content="30" -->
</head>

<body class="">


<div th:replace="~{menu :: menu_top}"></div>

<div class="container-fluid">

    <head th:replace="~{header :: titulo_pagina ('Listagem - Filtro em Arquivos')}"/>

    <div class="row">
        <div class="col offset-s11 s1 center" style="position: fixed">
            <a class="btn-floating btn-large waves-effect waves-light red" th:href="@{/filtro/novo}">
                <i class="material-icons">add</i>
            </a>
        </div>
        <div class="col s12 bottom-5">
            <table id="dataTable" name="dataTable" class="display w-100" >
                <thead>
                <tr>
                    <th>#</th>
                    <th>Data Criação</th>
                    <th>Nome Tarefa</th>
                    <th>Estado</th>
                    <th>Diretório Entrada</th>
                    <th>Diretório saida</th>
                    <th>Inicio Execução</th>
                    <th>Fim Execução</th>
                    <th>Linhas Processadas</th>
                    <th colspan="3">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="filtro:${filtros}">
                    <td th:text="${filtro.getId()}"></td>
                    <td th:text="${#temporals.format(filtro.getDataCriacao(), 'dd/MM/yyyy hh:mm:ss')}"></td>
                    <td class="elipses" th:text="${filtro.getNomeDaTarefa()}" style="max-width: 10%;"></td>
                    <td th:text="${filtro.getEstado() + filtro.getNomeTarefas()}"></td>
                    <td th:text="${filtro.getDiretorioEntrada()}"></td>
                    <td th:text="${filtro.getDiretorioSaida()}"></td>
                    <td th:text="${#temporals.format(filtro.getDtInicio(), 'dd/MM/yyyy hh:mm:ss')}"></td>
                    <td th:text="${#temporals.format(filtro.getDtFim(), 'dd/MM/yyyy hh:mm:ss')}"></td>
                    <td th:text="${#numbers.formatInteger(filtro.getNumeroLinhasProcessadas(),3,'POINT')}"></td>
                    <td>
                        <a th:replace="icons :: editar(@{/filtro/{id}(id=${filtro.id})})"/>
                    </td>
                    <td>
                        <a th:replace="icons :: executar(@{/filtro/{id}/executar(id=${filtro.id})})"/>
                    </td>
                    <td>
                        <a th:replace="icons :: remover(@{/filtro/{id}/deletar(id=${filtro.id})})"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<footer th:replace="~{menu :: menu_bottom}"/>

<!-- Include external files -->
<div th:replace="~{menu :: jss}"/>

<!-- Run JS initialize scripts -->
<script th:replace="~{icons :: tooltip_js}"/>
<div th:replace="~{menu :: menu_js}"/>
</body>
<script th:if="${!mensagem.isEmpty()}" th:inline="javascript">
    $(document).ready(function () {
        var msg = /*[[${mensagem}]]*/;

        if (msg != "")
            M.toast({html: msg});
    });
</script>

<script th:inline="javascript">
    $(document).ready(function () {
        setTimeout(() => {
            window.location.href = document.location.href.split("?")[0];
        }, 15000);
    });
</script>

</html>