<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-fixed-bottom  navbar-inverse  navbar-expand navbar-dark" th:fragment="menu">
    <div class="container-fluid">
        <a class="navbar-brand" target="_blank" href="https://github.com/spedison?tab=repositories">Github</a>
        <a class="navbar-brand" target="_blank" href="https://www.facebook.com/edison.ribeiroaraujo">Facebook</a>
        <a class="navbar-brand" target="_blank" href="https://www.gnu.org/licenses/licenses.html#GPL">Licença de Uso GNU (Mantenha a autoria)</a>
    </div>
</nav>