<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div class="navbar-fixed" th:fragment="menu_top">
    <ul id="dropdown_verificacao" class="dropdown-content">
        <li class="red accent-1 "><a class="white-text" href="#" th:href="@{/verificaarquivos}">Checar Diretórios e
            exibe Cabeçalhos</a></li>
    </ul>

    <ul id="dropdown_processamento" class="dropdown-content">
        <li class="red accent-1  ">
            <a class="white-text" href="#" th:href="@{/filtro}">
                Filtrar Arquivos
            </a>
        </li>
        <li class="red accent-1 ">
            <a class="white-text" href="#" th:href="@{/agrupa}">
                Agrupar Arquivos Por Colunas
            </a>
        </li>
        <li class="red accent-1 ">
            <a class="white-text" href="#" th:href="@{/resumo}">
                Resumo Estatístico Por Colunas
            </a>
        </li>
        <li class="red accent-1 ">
            <a class="white-text" href="#" th:href="@{/remove}">
                Remover Colunas dos Arquivos
            </a></li>
    </ul>

    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo" th:href="@{/}">Digestor CSV</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a th:href="@{/}">Configuracao</a>
                </li>
                <li>
                    <a href="#!" class="dropdown-trigger" data-target="dropdown_verificacao">
                        Verificacao
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li>
                    <a href="#!" class="dropdown-trigger" data-target="dropdown_processamento">
                        Processamento
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li>
                    <a href="#">Ajuda</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<script th:fragment="menu_js">
    document.addEventListener('DOMContentLoaded', function () {
        $('.dropdown-trigger').dropdown();
        $('.sidenav').sidenav();
    });
</script>

<div th:fragment="menu_bottom">
    <footer class="page-footer">
        <div class="row">
            <div class="col s12 m4 xl4 l4 center-align">
                <a class="white-text" target="_blank" href="https://github.com/spedison?tab=repositories">Github</a>
            </div>
            <div class="col s12 m4 xl4 l4 center-align">
                <a class="white-text" target="_blank" href="https://www.facebook.com/edison.ribeiroaraujo">Facebook</a>
            </div>
            <div class="col s12 m4 xl4 l4 center-align">
                <a class="white-text" target="_blank" href="https://www.gnu.org/licenses/licenses.html#GPL">
                    Licença de Uso GNU (Mantenha a autoria)
                </a>
            </div>
        </div>
    </footer>
</div>

<head th:fragment="jss">
    <script th:src="@{/js/jquery-3.6.3.min.js}"></script>
    <script th:src="@{/materialize/materialize.js}"></script>
    <!--<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>-->
</head>


<script th:inline="javascript" th:fragment="toast_js(mensagem)">
    $(document).ready(function () {
        var msg = /*[[${mensagem}]]*/;

        if (msg != "")
            M.toast({html: msg});
    });
</script>
