<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: header ('Listagem de Resumos','Resumir dados por colunas')}"/>
<head>
    <meta http-equiv="refresh" content="30">
    <script src="/datatable.js"></script>
</head>

<body>
<div th:replace="~{menu :: menu_top}"></div>
<div class="container-fluid">

    <div th:replace="~{header :: titulo_pagina ('Listagem - Resumo Estatístico por Colunas')}"/>

    <div class="row">
        <div class="col offset-s11 s1 center" style="position: fixed">
            <a class="btn-floating btn-large waves-effect waves-light red" th:href="@{/resumo/criar}">
                <i class="material-icons">add</i>
            </a>
        </div>

        <div class="col s12 bottom-5">
            <table id="dataTable" name="dataTable" class="display w-100">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nome da Tarefa</th>
                    <th>Data Criação</th>
                    <th>Estado</th>
                    <th>Diretório Entrada</th>
                    <th>Diretório saida</th>
                    <th>Inicio Execução</th>
                    <th>Fim Execução</th>
                    <th>Linhas Processadas</th>
                    <th colspan="5">Ações</th>
                </tr>
                </thead>
                <tbody class="table-striped">
                <tr th:each="resumo:${itens}">
                    <td th:text="${resumo.getId()}"></td>
                    <td th:text="${resumo.getNomeDaTarefa()}"></td>
                    <td th:text="${#temporals.format(resumo.getDataCriacao(), 'dd/MM/yyyy hh:mm:ss')}"></td>
                    <td th:text="${resumo.getEstado() + resumo.getNomeTarefas()}"></td>
                    <td th:text="${resumo.getDiretorioEntrada()}"></td>
                    <td th:text="${resumo.getDiretorioSaida()}"></td>
                    <td th:text="${#temporals.format(resumo.getDtInicio(), 'dd/MM/yyyy hh:mm:ss')}"></td>
                    <td th:text="${#temporals.format(resumo.getDtFim(), 'dd/MM/yyyy hh:mm:ss')}"></td>
                    <td th:text="${#numbers.formatInteger(resumo.getNumeroLinhasProcessadas(),3,'POINT')}"></td>
                    <td>
                        <div th:if="${!resumo.estado.toString().equals('PROCESSANDO')}">
                            <a th:replace="icons :: editar(@{/resumo/{id}(id=${resumo.id})})"/>
                        </div>
                    </td>
                    <td>
                        <div th:if="${!resumo.estado.toString().equals('PROCESSANDO')}">
                            <a th:replace="icons :: copiar(@{/resumo/{id}/copiar(id=${resumo.id})})"/>
                        </div>
                    </td>
                    <td>
                        <div th:if="${resumo.estado.toString().equals('NAO_INICIADO')}">
                            <a th:replace="icons :: executar(@{/resumo/{id}/executar(id=${resumo.id})})"/>
                        </div>
                    </td>
                    <td>
                        <div th:if="${!resumo.estado.toString().equals('PROCESSANDO')}">
                            <a th:replace="icons :: remover(@{/resumo/{id}/deletar(id=${resumo.id})})"/>
                        </div>
                    </td>

                    <td>
                        <div th:if="${resumo.estado.toString().equals('PROCESSANDO') || resumo.estado.toString().equals('TERMINADO') }">
                            <a th:replace="icons :: analise_nova_janela(${'http://localhost:9966/dashboard/jobs/' + resumo.getJobId()})"/>
                        </div>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer th:replace="~{menu :: menu_bottom}"/>

<!-- Include external files -->
<div th:replace="~{menu :: jss}"/>

<!-- Run JS initialize scripts -->
<script th:replace="~{icons :: tooltip_js}"/>
<div th:replace="~{menu :: menu_js}"/>
</body>
<script th:replace="~{menu :: toast_js (${mensagem})}"/>


<script th:inline="javascript">
    $(document).ready(function () {
        setTimeout(() => {
            window.location.href = document.location.href.split("?")[0];
        }, 15000);
    });
</script>
</html>